.lyrics {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 13rem;
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  z-index: 10;
}

.lyrics pre {
  color: rgb(172, 172, 172);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  overflow-y: overlay;
  font-family: "Inter", sans-serif;
  padding-right: 1rem;
  font-size: clamp(16px, 10cqw, 24px);
  white-space: pre-wrap;
  word-wrap: break-word;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &:first-child {
    padding-top: 2rem;
  }

  &:last-child {
    padding-bottom: 2rem;
  }
}
