.lyrics {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 13rem;
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
/* make button black with white text and square corners */
.lyrics button {
  background-color: black;
  color: white;
  border-radius: 0;
}
/* make pre legible */
.lyrics pre {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: scroll;
  font-family: 'Roboto', sans-serif;
}