:root {
  --media_tile_glass-max-width: 14rem;
  --media_tile_glass-max-height: 14rem;
  --media_tile_glass-min-width: 14rem;
  --media_tile_glass-min-height: 14rem;
  --media_tile-margin: 0.1rem;
  --media_tile-gap: 0.2rem;
  --media-tile-drop-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.4);
  --border-radius-chin: 1rem;
}

.mediaTileGlass {
  position: relative;
  height: max-content;

  &:hover {
    .mediaTileGlass__overlay__inner {
      opacity: 1;
    }
  }

  &__overlay {
    position: relative;
    overflow: hidden;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 98.5%;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;

      &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(var(--media-tile-drop-shadow));
        border-radius: 50%;
        fill: white;

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }

        &:active {
          transform: translate(-50%, -50%) scale(0.99);
        }

        &__more {
          position: absolute;
          filter: drop-shadow(var(--media-tile-drop-shadow));
          bottom: 0.2rem;
          right: -0.1rem;
          fill: white;

          &:hover {
            transform: scale(1.1);
          }

          &:active {
            transform: scale(0.99);
          }
        }
      }
    }
  }

  &__image {
    border-top-left-radius: var(--border-radius-chin);
    border-top-right-radius: var(--border-radius-chin);
    max-width: var(--media_tile_glass-max-width);
    max-height: var(--media_tile_glass-max-height);
    width: var(--media_tile_glass-min-width);
    height: var(--media_tile_glass-min-height);
  }

  &__backdrop {
    margin-top: -0.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: var(--media_tile_glass-min-width);
    height: 3.5rem;
    gap: var(--media_tile-gap);
    border-bottom-left-radius: var(--border-radius-chin);
    background-position: bottom !important;
    border-bottom-right-radius: var(--border-radius-chin);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: var(--media_tile_glass-min-width);
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      border-bottom-left-radius: var(--border-radius-chin);
      border-bottom-right-radius: var(--border-radius-chin);
      backdrop-filter: blur(16rem) saturate(180%) contrast(80%) brightness(120%);
      transform: translate3d(0, 0, 0);
    }
  }

  &__mediaInfo {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    max-width: var(--media_tile_glass-min-width);
    gap: var(--media_tile-gap);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    &__title {
      padding-inline: 0.9rem;
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      -webkit-box-orient: vertical;
      font-size: 0.9rem;
      font-weight: 500;
      color: var(--text);

      &:hover {
        text-decoration: underline;
      }
    }

    &__artist {
      padding-inline: 1rem;
      text-align: center;
      font-size: 0.7rem;
      font-weight: 400;
      color: var(--text);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      -webkit-box-orient: vertical;

      &__name:not(&__seperator) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
