:root {
  --table-background: #111111;
}

.songs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;

  &__header {
    font-weight: 400;
    color: var(--color-gray-400);
    background-color: var(--table-background);
    text-align: left;
    position: absolute;
    top: 3.9rem;
    left: 0;
    right: 0;
    height: 2rem;
    display: grid;
    grid-template-columns: 0.315fr 3fr 3fr 3fr 1fr 0.6fr;
    width: 100%;
    height: 1.4rem;
    padding: 0.3rem 0.5rem;

    &__duration {
      text-align: right;
      padding-right: 1rem;
    }
  }

  &__body {
    overflow-y: auto;
    height: calc(100vh - 13rem);
    padding-bottom: 5rem;
    margin-top: 1.6rem;
    overflow-x: hidden;

    &__song {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 0.315fr 3fr 3fr 3fr 1fr 0.6fr;
      gap: 0.5rem;
      padding: 0.3rem 0.5rem;
      color: var(--color-gray-400);

      &__artwork_wrapper {
        margin-left: 2.8vw;
        position: relative;
        width: 30px;
        height: 30px;
      }

      &__artwork {
        width: 30px;
        height: 30px;
        border-radius: 0.2rem;
      }

      &__play {
        position: absolute;
        top: 0.3rem;
        left: 0.3rem;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        opacity: 0;
        filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 1));
        z-index: 2;
      }

      &__title {
        color: var(--color-gray-100);
      }

      &__artist,
      &__album {
        &:hover {
          text-decoration: underline;
        }
      }

      > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 0.2rem;
        align-self: center;

        a {
          display: block;
          overflow-x: hidden;
          padding-block: 0.1rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: max-content;
        }
      }

      &__duration {
        padding-right: 0 !important;
        text-align: right;
      }

      &__more {
        display: none;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding-left: 0.2rem;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);

        .songs__body__song__play.visible {
          opacity: 1;
        }

        .songs__body__song__play {
          opacity: 1;
        }

        .songs__body__song__more {
          display: flex !important;
          opacity: 1 !important;
        }
      }
    }
  }
}
