.artistTableTile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    gap: 1rem;
    border-radius: var(--border-radius);
    max-width: 100%;
  
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
  
    &__image {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &__mediaInfo {
        max-width: 70%;
        
        &__name {
            color: var(--text);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            display: block;
        }
    }
  }
  