:root {
  --app-border-radius: 20px;
  --border-radius: 4px;
  --background: #000;
  --background-inverse: #fff;
  --main-background: #202020;
  --drawer-width: 4rem;
  --titlebar-height: 1.2rem;
  --content-offset: 0.5rem;
  --page-padding: 1rem;
  --panel-offset: 4rem;
  --page-padding-media-item-detail: 1rem;
  --page-padding-bottom: 6rem;
  --accent: #c91350;
  --accent-hover: #e02d6d;
  --accent-active: #bb114a;

  .active-route {
    color: #fff !important;

    svg {
      fill: #fff !important;
    }
  }
}

:root[theme="light"] {
  --background: #fff;
  --background-inverse: #000;

  .active-route {
    color: #4f4f4f !important;

    svg {
      fill: #4f4f4f !important;
    }
  }
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: var(--app-border-radius);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

button {
  cursor: auto;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;

  &-track {
    background-color: transparent;
    margin-block: 1rem;
  }

  &-thumb {
    background-color: var(--background-inverse) !important;
    border-radius: 0.5rem;
    background-color: transparent;
  }
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: var(--text);
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline: 2px solid var(--accent);
  border-radius: 4px;
}
