:root {
  --spacing-album-lg: 2rem;
  --spacing-album-bottom: 5rem;
}

.album {
  padding-block: var(--page-padding);
  padding-top: var(--spacing-album-lg) !important;
  padding-left: var(--page-padding);
  height: calc(
    100% - var(--content-offset) - var(--titlebar-height) / 2 -
      var(--page-padding-bottom)
  );
  padding-bottom: var(--page-padding-bottom);
  overflow-y: overlay;
  overflow-x: hidden;
  color: var(--text);

  &__youMightAlsoLike {
    display: flex;
    margin-top: var(--spacing-album-lg);
    display: block;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-album-lg);
  }

  &__table {
    margin-top: var(--spacing-album-lg);
    padding-right: 1rem;
  }

  &__footer {
    display: flex;
    flex-direction: row;
  }
}
