:root[theme="light"] {
  --main-background: #ececec;
  --text: #000;
}

:root[theme="dark"] {
  --main-background: #202020;
}

.main {
  height: calc(100% - var(--content-offset) * 2 - var(--titlebar-height));
  position: fixed;
  top: calc(var(--content-offset) + var(--titlebar-height) / 2);
  left: var(--drawer-width);
  right: var(--panel-offset);
  width: calc(
    100% - var(--drawer-width) - var(--content-offset) - var(--panel-offset) +
      4rem
  );
  z-index: 100;
  border-radius: var(--app-border-radius);
  background-color: var(--main-background);
  overflow: hidden;

  > Outlet {
    height: 100%;
    background-color: #202020;
    color: var(--text);
  }
}
