.settings {
  padding: var(--page-padding);
  color: var(--text);

  &__title {
    margin-bottom: 2rem;
  }

  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
