:root {
  --spacing-home-lg: 2rem;
  --spacing-home-bottom: 5rem;
}

.playlist {
  padding-block: var(--page-padding);
  padding-left: var(--page-padding);
  height: calc(
    100% - var(--content-offset) - var(--titlebar-height) / 2 -
      var(--page-padding-bottom)
  );
  padding-bottom: var(--page-padding-bottom);
  overflow-y: overlay;
  overflow-x: hidden;
  color: var(--text);

  &__title {
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-home-lg);
  }
}
