:root {
  --spacing-home-lg: 2rem;
  --spacing-home-bottom: 5rem;
}

.artist {
  padding-block: var(--page-padding);
  padding-left: var(--page-padding);
  height: calc(
    100% - var(--content-offset) - var(--titlebar-height) / 2 -
      var(--page-padding-bottom)
  );
  padding-bottom: var(--page-padding-bottom);
  overflow-y: overlay;
  overflow-x: hidden;
  color: var(--text);

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: -1rem;
    margin-left: -1rem;

    &__image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;

      &__title {
        font-size: var(--font-large);
        font-weight: 600;
      }

      &__subtitle {
        font-size: var(--font-small);
        color: var(--text-muted);
      }

      &__actions {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        gap: 0.5rem;
      }
    }
  }
}
