:root {
  --link-active: #999;
  --link-hover: #ccc;
}

:root[theme="light"] {
  --link-active: #666;
  --link-hover: #333;
}

.drawer {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(var(--content-offset) + var(--titlebar-height) / 2);
  left: 0;
  width: 4rem;
  z-index: 99;
  border-top-right-radius: var(--app-border-radius);
  border-bottom-right-radius: var(--app-border-radius);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.middle {
  margin-top: 4rem;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  > * {
    svg {
      &:hover {
        fill: var(--link-hover);
      }

      &:active {
        fill: var(--link-active);
      }
    }
  }
}

.bottom {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > * {
    svg {
      &:hover {
        fill: var(--link-hover);
      }

      &:active {
        fill: var(--link-active);
      }
    }
  }
}
