.Drawer {
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 80px;
    z-index: 200;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}