:root {
  --spacing-media_shelf: 0.5rem;
  --spacing-media_shelf-lg: 0.8rem;
}

.mediaShelf {
  &__inner {
    position: relative;

    &__content {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: var(--spacing-media_shelf-lg);
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__title {
    display: inline-block;
    font-size: var(--font-medium);
    margin-bottom: var(--spacing-media_shelf-lg);
    margin-right: var(--spacing-media_shelf);
  }

  &__controls {
    display: inline-block;

    &__button {
      border-radius: var(--border-radius);
      fill: var(--text-muted);

      &:last-child {
        margin-left: var(--spacing-media_shelf);
      }

      &:hover {
        fill: var(--text);
      }

      &:disabled {
        fill: var(--text-muted);
      }

      &:active {
        fill: var(--text-muted);
      }
    }
  }
}
