:root {
  --titlebar-button-hover: #333;
  --titlebar-button-active: #666;
}

:root[theme="light"] {
  --titlebar-button-hover: #c9c9c9;
  --titlebar-button-active: #a8a8a8;
}

.titlebar {
  display: flex;
  justify-content: end;
  align-items: center;
  height: var(--titlebar-height);
  background-color: #000;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;

  .titlebar--button {
    color: var(--text);
    width: 1.4rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
    --webkit-app-region: no-drag;
    app-region: no-drag;

    &:hover,
    &:focus {
      background-color: var(--titlebar-button-hover);
    }

    &:active {
      background-color: var(--titlebar-button-active);
    }
  }
}
