:root {
  --media_info-gap: 1rem;
  --media_info_info-gap: 0.2rem;
  --media_info_info-title-margin: 1rem;
  --media_info_info-description-margin: 1rem;
}

.mediaDetail {
  display: flex;
  gap: var(--media_info-gap);

  &__details {
    display: flex;
    flex-direction: column;
    margin-top: var(--media_info_info-title-margin);
    gap: var(--media_info_info-gap);

    &__title {
      font-size: var(--font-large);
      font-weight: 500;
    }

    &__subtitle {
      font-size: var(--font-medium);
      font-weight: 400;
      color: var(--accent);

      &__artist {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__description {
      padding-right: 1rem;
      margin-top: var(--media_info_info-description-margin);
      font-size: var(--font-micro);
      font-weight: 400;
      color: var(--text-muted);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      -webkit-box-orient: vertical;
      padding-bottom: 0.1rem;
    }

    &__actions {
      display: flex;
      flex-direction: row;
      gap: var(--media_info-gap);
      margin-top: auto;
      margin-bottom: 0.15rem;
    }
  }

  &__table {
    display: flex;
  }
}
